//COLORS
$teal: #24aea0a8;
$deep-red: #D0384B;
$secondary-yellow: #FFBD16;
$brown: #7C4341;
$main-text: #3D3D3D;
$background:  #E5E5E5;

//TYPOGRAPHY
$font1: Oswald, sans-serif;
$font2: Roboto, sans-serif;

$heavy: 700;
$bold: 500;
$normal: 400;