@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&family=Roboto&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, nav {
  list-style-type: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button:focus, button:active, a:focus, a:active {
  outline-color: #D0384B;
}

::-moz-selection {
  background: #FFBD16;
}

::selection {
  background: #FFBD16;
}

body {
  font-size: 18px;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  color: #3D3D3D;
}

.nav {
  text-transform: uppercase;
}

.nav__logo {
  font-size: 26px;
  text-align: left;
  line-height: 30.21px;
}

.nav__links {
  font-size: 21px;
  line-height: 31.12px;
}

.nav__link {
  color: #3D3D3D;
  text-decoration: none;
}

.menu-toggle__text {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  color: #3D3D3D;
  text-transform: uppercase;
  font-size: 14px;
}

.menu-toggle__text:hover, .menu-toggle__text:active, .menu-toggle__text:focus {
  color: #D0384B;
}

.logo--red {
  color: #D0384B;
}

.hero__title {
  text-transform: uppercase;
  font-size: 64px;
  color: #fff;
  text-shadow: 0 0 15px #00000040;
  text-align: center;
  line-height: 94.85px;
}

.vaxxed {
  color: #fff;
  text-align: center;
}

.vaxxed__info {
  font-size: 1rem;
  line-height: 26.68px;
}

.vaxxed__number {
  font-size: 48px;
  line-height: 72px;
}

.vaxxed__tooltip {
  font-family: Roboto, sans-serif;
  color: #3D3D3D;
  font-size: 14px;
}

.more-info__heading {
  font-size: 32px;
  line-height: 47.42px;
}

.more-info__link {
  font-size: 21px;
  line-height: 31.5px;
}

.more-info__p {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.btn {
  color: #7C4341;
  font-size: 1rem;
  line-height: 26.68px;
  font-family: Oswald, sans-serif;
}

.link--red {
  color: #D0384B;
  -webkit-text-decoration: underline solid #D0384B;
          text-decoration: underline solid #D0384B;
}

.footer-container {
  font-weight: 400;
  line-height: 24px;
}

.footer-container__copyright {
  font-family: Roboto, sans-serif;
}

.footer-container__links {
  color: #D0384B;
  font-size: 16px;
}

@media screen and (max-width: 540px) {
  .hero__title {
    font-size: 38px;
    line-height: 56.32px;
  }
  .vaxxed__info {
    font-size: 16px;
    line-height: 23.71px;
  }
  .vaxxed__number {
    font-size: 32px;
    line-height: 47.42px;
  }
  .more-info__heading {
    font-size: 21px;
    line-height: 31.12px;
  }
  .more-info__link {
    font-size: 21px;
    line-height: 31.12px;
  }
  .btn {
    font-size: 16px;
    line-height: 23.71px;
  }
  .footer-container {
    font-weight: 400;
  }
  .footer-container__copyright {
    font-size: 16px;
  }
}

.nav {
  width: 100%;
  height: 105px;
  border-bottom: 5px solid #FFBD16;
  padding: 0px 5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__logo {
  width: 10ch;
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__link {
  padding: 0 0 0 60px;
  position: relative;
  -webkit-transition: 700ms cubic-bezier(0.59, 0.09, 0.28, 0.94);
  transition: 700ms cubic-bezier(0.59, 0.09, 0.28, 0.94);
}

.nav__link::after {
  content: "";
  width: 100%;
  position: absolute;
  top: 65px;
  border-bottom: 5px solid #D0384B;
  -webkit-transition: 500ms cubic-bezier(0.59, 0.09, 0.28, 0.94);
  transition: 500ms cubic-bezier(0.59, 0.09, 0.28, 0.94);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  visibility: hidden;
}

.nav__link:hover, .nav__link:active {
  color: #D0384B;
}

.nav__link:hover::after, .nav__link:active::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  visibility: visible;
}

.menu-toggle {
  display: none;
  width: 80px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid #3D3D3D;
  border-radius: 5px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-toggle__burger {
  width: 18px;
  height: 2px;
  background-color: #3D3D3D;
  position: relative;
}

.menu-toggle__burger::before {
  content: '';
  width: 18px;
  height: 2px;
  background-color: #3D3D3D;
  position: absolute;
  margin-top: -6px;
  left: 0;
}

.menu-toggle__burger::after {
  content: '';
  width: 18px;
  height: 2px;
  background-color: #3D3D3D;
  position: absolute;
  margin-top: 6px;
  left: 0;
}

.menu-toggle__text {
  display: block;
}

.menu-toggle:active, .menu-toggle:hover, .menu-toggle:focus {
  outline: 0;
  color: #D0384B;
  border: 2px solid #D0384B;
}

@media screen and (max-width: 700px) {
  .nav__links {
    display: none;
  }
  .menu-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hero {
  width: 100%;
  height: 700px;
  background-image: url(../../assets/image-hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.hero::before {
  position: absolute;
  content: '';
  width: 100vw;
  height: 100%;
  background-color: #24aea0a8;
  pointer-events: none;
  z-index: 1;
}

.hero__title {
  position: relative;
  z-index: 3;
  padding-top: 27vh;
  width: 14ch;
  margin: auto;
}

.hero__title::before {
  z-index: -3;
  content: '';
  width: 180px;
  height: 180px;
  position: absolute;
  left: 8.3ch;
  top: 22vh;
  background-color: #FFBD16;
  border-radius: 50%;
}

@media screen and (max-width: 1030px) {
  .hero__title {
    padding-top: 20vh;
  }
  .hero__title::before {
    top: 17vh;
  }
}

@media screen and (max-width: 792px) {
  .hero__title {
    padding-top: 27vh;
  }
  .hero__title::before {
    top: 23vh;
  }
}

@media screen and (max-width: 540px) {
  .hero {
    height: 375px;
  }
  .hero__title {
    padding-top: 16vh;
  }
  .hero__title::before {
    width: 108px;
    height: 108px;
    top: 13vh;
  }
}

@media screen and (max-width: 414px) {
  .hero__title {
    padding-top: 20vh;
  }
  .hero__title::before {
    top: 16vh;
  }
}

@media screen and (max-width: 380px) {
  .hero__title {
    padding-top: 22vh;
  }
  .hero__title::before {
    top: 18vh;
  }
}

@media screen and (max-width: 375px) {
  .hero__title {
    padding-top: 18vh;
  }
  .hero__title::before {
    top: 15vh;
  }
}

/** @format */
.vaxxed {
  width: 250px;
  height: 250px;
  background-color: #7C4341;
  border-radius: 50%;
  margin: -260px auto 0;
  position: relative;
  z-index: 4;
}

.vaxxed__icon {
  margin-left: 2px;
}

.vaxxed__info.top {
  padding-top: 63px;
}

.vaxxed__info.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vaxxed__tooltip {
  display: none;
  position: absolute;
  background-color: white;
  width: 105%;
  padding: 7px;
  border: 1px solid rgba(0, 0, 0, 0.068);
  border-radius: 5px;
  top: 190px;
  left: -5px;
}

.vaxxed__tooltip::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid white;
  left: 162px;
  top: -5px;
}

.vaxxed__graph {
  width: 270px;
  height: 270px;
  z-index: 4;
  position: relative;
  background: conic-gradient(#24AFA1 10%, #DADADA 0);
  border: 5px solid white;
  border-radius: 50%;
  margin: -135px auto 0;
}

@media screen and (max-width: 540px) {
  .vaxxed {
    width: 194px;
    height: 194px;
    margin: -207px auto 0;
  }
  .vaxxed__info.top {
    padding-top: 53px;
  }
  .vaxxed__tooltip {
    top: 150px;
    left: -32px;
    width: 140%;
  }
  .vaxxed__graph {
    width: 218px;
    height: 218px;
    margin: -75px auto 0;
  }
}

.more-info {
  width: 75%;
  text-align: center;
  margin: auto;
}

.more-info__heading {
  margin: 40px auto 30px;
}

.more-info__flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.more-info__flexchild {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
  padding: 30px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 20px #00000033;
          box-shadow: 0 0 20px #00000033;
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.more-info__logo {
  max-width: 112px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.more-info__link {
  padding: 10px auto;
}

.more-info__p {
  padding-bottom: 10px;
}

.btn {
  border: 2px solid #7C4341;
  border-radius: 5px;
  padding: 6px 20px;
  background-color: white;
  cursor: pointer;
  -webkit-transition: 50ms ease-in;
  transition: 50ms ease-in;
}

.btn__icon {
  margin-left: 2px;
}

.btn:hover {
  background-color: #D0384B;
  border: 2px solid #D0384B;
  color: white;
}

.btn:active {
  background-color: #ac2939;
  color: white;
}

@media screen and (max-width: 1030px) {
  .more-info {
    width: 90%;
  }
}

@media screen and (max-width: 850px) {
  .more-info {
    width: 90%;
  }
  .more-info__flexbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .more-info__flexchild {
    width: 90%;
    margin: 30px auto;
  }
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: 57px auto 16px;
}

@media screen and (max-width: 850px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 380px) {
  .footer-container {
    width: 30ch;
  }
  .footer-container--lg {
    display: none;
  }
}
/*# sourceMappingURL=layout.css.map */